<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="amiral_battı_oyunu.Properties.Settings.amiral_battiConnectionString"
            connectionString="Data Source=CODERKIZTR;Initial Catalog=amiral_batti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>